body {
  max-width: 752px;
  margin: 0 auto;
}
.header {
  background-color: #2d7053;
}
.text {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin-left: 7.6%;
}
.circle {
  display: inline-block;
  width: 144px;
  height: 144px;
  background-color: white;
  border-radius: 100%;
  margin-top: 6%;
  margin-left: 5%;
  margin-bottom: 6.3%;
}
.burger {
  display: inline-block;
  margin-bottom: 90px;
  margin-left: 140px;
}
.burger div {
  border-bottom: 15px solid #ffffff;
  width: 87px;
  border-radius: 7px;
  margin: 13px 0px 0px 0px;
}

.container {
  position: relative;
  width: 100%;
}
.container img {
  width: 100%;
  height: auto;
}
.container .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #cb9223;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .btn a {
  text-decoration: none;
  color: white;
}
.doctor_photo {
  margin-top: 94px;
  display: inline-block;
}
.doctor_photo img {
  border-radius: 50%;
}
.name {
  display: inline-block;
  color: black;
  font-size: 18px;
  margin-left: 75px;
}
.dr_exp {
  font-size: 18px;
  color: black;
}
.ul {
  font-size: 34px;
  color: black;
  margin-top: 46px;
  font-weight: 500;
  margin-bottom: 20px;
}
.cause_item {
  font-size: 18px;
}
.container .btn2 a {
  text-decoration: none;
  color: white;
}
.container .btn2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #cb9223;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 42px;
  margin-bottom: 47px;
}
.footer {
  background-color: #888888;
  margin-top: 130px;
}
.footer_text {
  display: inline-block;
  color: white;
  font-size: 16px;
}
