a {
  text-decoration: none;
  color: white;
}
body {
  min-width: 600px;
  max-width: 1600px;
  margin: 0 auto;
}
#body {
  background-image: url(/img/Milan_Holidays.jpg);
  width: 85.5rem;
  height: 48rem;
  display: inline-block;
  margin-right: -76rem;
  margin-bottom: -42rem;
}
.logo {
  background-image: url(/img/logo@1X.png);
  display: inline-block;
  width: 166px;
  height: 44px;
}
.logo:hover {
  background-image: url(/img/Logo@1X2.png);
  display: inline-block;
  width: 166px;
  height: 44px;
}
.mail {
  display: inline-block;
  color: white;
  text-align: right;
  margin-left: 43.9rem;
}
.line-1 {
  display: inline-block;
  width: 19.7%;
  margin-right: -92px;
  margin-bottom: 10px;
  margin-left: 153px;
  margin-top: 36px;
  color: white;
  text-align: center;
}
.line-1 img {
  margin-bottom: -4.6rem;
}
.cost1 {
  background-image: none;
  display: inline-block;
  width: 19.25rem;
  height: 70px;
}
.cost1:hover {
  background-image: url(/img/Hover@1X.png);
  display: inline-block;
  width: 19.25rem;
  height: 70px;
}
.line-1 a:hover {
  color: #f26522;
}
.line-2 {
  display: inline-block;
  width: 19.7%;
  margin-right: -92px;
  margin-bottom: 10px;
  margin-left: 153px;
  margin-top: 2.4rem;
  color: white;
  text-align: center;
}
.line-2 img {
  margin-bottom: -4.6rem;
}
.cost2 {
  background-image: none;
  display: inline-block;
  width: 19.25rem;
  height: 70px;
}
.cost2:hover {
  background-image: url(/img/Hover@1X.png);
  display: inline-block;
  width: 19.25rem;
  height: 70px;
}
.line-2 a:hover {
  color: #f26522;
}
footer > div {
  color: white;
  margin-left: 31rem;
  margin-top: 2rem;
}
