body {
  max-width: 1283px;
  margin: 0 auto;
}
/* Header */
.logo {
  margin-top: 61px;
  margin-bottom: 43px;
}
.nav-menu {
  width: 100%;
  background-color: #35444f;
  font-size: 24px;
  margin-bottom: 50px;
}
.nav-menu-items {
  list-style: none;
  padding-top: 28px;
  padding-bottom: 22px;
  padding-left: 130px;
  margin: 0;
}
.nav-menu-items li {
  display: inline;
}
.nav-menu-items li a {
  text-decoration: none;
  color: #fff;
  padding: 28px 40px 23px;
  margin: 0;
}
.nav-menu-items li a:hover {
  background-color: #142b38;
}

/* Section - information */

.info-menu {
  width: 27%;
  border: 1px #000 solid;
  margin-right: 50px;
  float: left;
}
.info-menu-items {
  list-style: none;
  padding-left: 0px;
}
.info-menu-items li a {
  text-decoration: none;
  color: #405864;
  font-size: 27px;
  display: inline-block;
  width: 100%;
  line-height: 3em;
  padding-left: 43px;
  box-sizing: border-box;
}
.info-menu-items li a:hover {
  background-color: #dcdcdc;
  color: #000;
  padding-left: 69px;
  transition: 0.6s;
}
.image {
  display: inline-block;
  border: 1px solid;
  width: 55rem;
}
.ramda {
  margin: 75px auto;
  padding-left: 300px;
}
.text {
  font-size: 18px;
  padding-left: 410px;
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 1.5em;
}

/* Footer */

.footer-menu {
  background-color: #b3b8ba;
  font-size: 28px;
}
.footer-menu-items {
  list-style: none;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer-menu-items li {
  display: inline-block;
  justify-content: space-between;
  padding: 10px;
}
.footer-menu-items li a {
  text-decoration: none;
  color: #000;
}
.footer-menu-items li a:hover {
  text-decoration: underline;
  color: #0082a9;
}
.footer-menu-items li:last-of-type {
  font-size: 24px;
  margin-left: 92px;
  margin-right: 34px;
}
